.iboMenu {
  position: fixed;
  top: 0;
  right: 28px;
  font-family: Pacifico;
  z-index: 9;

  &__list-item {
    font-size: 20px;
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100px;
    min-height: 180px;
    max-width: 320px;
    max-height: 580px;
    background-color: rgb(24 24 27 / 90%);
    background-blend-mode: multiply;
    overflow: hidden;
    color: #fff;
  }

  &__bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
  }

  &__title {
    font-size: 24px;
  }

  &__button {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;

    &.active {
      .iboMenu__button-item01 {
        background: transparent;
        transform: translateX(-50%);
      }

      .iboMenu__button-item02::before {
        top: 0;
        transform: rotate(45deg);
        width: 38px;
        margin-left: -4px;
      }

      .iboMenu__button-item02::after {
        top: 0;
        transform: rotate(-45deg);
        width: 38px;
        margin-left: -4px;
      }
    }
  }

  &__button-item {
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -15px;
    background: #fff;
    opacity: 1;
    transition: all 0.5s ease;
  }

  &__button-item02 {
    background: transparent;

    &::before,
    &::after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }

    &::before {
      top: -12px;
    }

    &::after {
      bottom: -12px;
    }
  }

  &__icon {
    > span {
      font-size: 42px;
      color: #0eb83a;
    }
  }
}
