.GPU {
  &__page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
  }

  &__nav {
    width: 15%;
    min-width: 140px;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #3cb371;
  }

  &__container {
    width: 100vw;
    padding: 10px;
    text-align: center;
  }

  &__container-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
  }

  &__container-desc {
    margin-bottom: 15px;
  }
}
