@font-face {
  font-family: Festive;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Festive-Regular.otf");
  src:
    url("../../fonts/Festive-Regular.woff") format("woff"),
    url("../../fonts/Festive-Regular.ttf") format("truetype");    /* safari,Android,iOS */
}

@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Pacifico.otf");
  src:
    url("../../fonts/Pacifico.woff") format("woff"),
    url("../../fonts/Pacifico.ttf") format("truetype");    /* safari,Android,iOS */
}
