.iboLoading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  &__bar {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    height: 4px;
    background-color: #a4e2c6;
    transition: all linear .85s;
  }
} 